*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar-track{
    background-color: #380E72; 
}
body::-webkit-scrollbar{
    width: 10px;   
}
body::-webkit-scrollbar-thumb{
    background-color: #f3f3f3;   
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header{
    width: 100%;
    height:60px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: transparent;
}

.logonavbar{
    width:40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.logonavbar img{
    width: 60px;
    height: 100%;
    
}

.logonavbar ul{
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.logonavbar ul li{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul a:hover{
    border-bottom: solid 1px white;
}

.header .fakebutton{
    width: 127px;
    height: 28px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.header .fakebutton:hover{
    border-bottom: solid 1px white; 
}

.buttonslogcad{
    width: 21%;
    display: flex;    
}

.block{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #380E72, #1A023E);
    border-radius: 0px 0px 180px 0px;
}

.bground{
    height: 595px;
    width: 95%;
    padding: 0 50px;
    display: flex;
}

.infb2{
    background-image: url(assets/Abstract-Triangle-PNG-Transparent-Image.png);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 50px;

}

.infb2 h1{
    color: whitesmoke;
    font-size: 45px;
}

.infb2 p{
    color: whitesmoke;
    margin-bottom: 5%;


}

.infb2 .fakebutton{
    width: 176px;
    height: 38px;
    color: #F02EF1;
    background-color: transparent;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.infb2 .fakebutton a{
    width: 100%;
    height: 100%;
    color: #F02EF1;
    border: solid 1px #F02EF1;
    border-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.fakebutton a:hover{
    width: 100%;
    height: 100%;
    color:#f12ef196;
    border: solid 1px #f12ef196;
    border-radius: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.bground img{
    height: 600px;
    width: 600px;
    margin-top: 7%;
    margin: 0% 0% 0% 5%;
    
}

.contatenos{
    position: fixed;
    height: 70px;
    margin:20% 0% 0% 46%;
    cursor: pointer;
    
}

.b2{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    background-color: white;
}

.text01{
    display: flex;
    align-items: center;
    width: 20%;

}

.text01 h2{
    margin-left: 10px;
    color: #4F0C84;

}

.container{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .caixas{
    background-color: whitesmoke;
    height: 300px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #380e721e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    padding: 20px;
}

.caixas img{
    height: 40%;
    width: 50%;
}

.caixas p{
    font-size: 13px;
}

.b3{
    background-color: #dddddd;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areas{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.areas img{
    height: 50%;
}

.blocoinfo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5%;
}

.blocoinfo .hs{
    font-size: 26px;
    margin-bottom: 30px;
}

.roxo{
    color: #4F0C84;
    font-weight: bold;
}

.pink{
    color: #F02EF1;
    font-weight: bold;
}

.campimage{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campimage .sens{
    height: 300px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campimage .datac{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalhe{
    height: 10%;
    width: 10%;
    background-color: #380E72;
}


.block4{
    height: 1000px;
    width: 100%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.title4{
    font-size: 30px;
    color: #4F0C84;
    font-weight: bold;
    margin-bottom: 5%;
    
}

.container4{
    margin-top: 5%;
    width: 65%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixas4{
    height: 100%;
    width: 230px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 5px #4747470c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagesc4{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 10%;
    box-shadow: 0px 0px 10px 5px #4747471a; 
}

.imagesc4 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;    
}

.nome{
    margin-top: 15%;
    font-weight: bold;

}

.desc{
    color: #4F0C84;
}



.footer{
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.952);
}


.donw1{
    height: 60px;
    width: 60px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    margin-top: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transform: rotate(90deg);
    box-shadow: 0px 0px 10px 5px #4f4f4f4c;

}

.donw2{
    height: 60px;
    width: 60px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transform: rotate(90deg);

}

.donw3{
    height: 60px;
    width: 60px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    margin-top: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    transform: rotate(90deg);
}


